#LinksContainer{
    padding: 1%;
    border-bottom: 1px solid darkgray;
}

#Links_headin_container{
    /* border: 2px solid black; */
    padding: 1%;
    display: flex;
    justify-content: space-around;
    text-align: justify;
    align-items: center;
    border-bottom: 1px solid gray ;
}
#Links_headin_container>p{
    font-weight: bold;
    font-size: large;
}
#Links_headin_container>button{
    align-items: center;
    width: 8%;
    height: 25px;
    border: none;
    color: aliceblue;
    background-color: #f3912E;
    border: #f3912E;
    border-radius: 5px;
}
#Links_headin_container>button:hover{
   cursor: pointer;
}
#Links_input_conatinaere{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 1%;
}
#Links_input_conatinaere div{
    align-items: center;
    text-align: left;
    margin: auto;
    /* border:2px  solid red; */
    width: 70%;
    margin-top: 2%;
}
.Links_Inputs{
    width: 90%;
    height: 40px;
    margin: auto;
    margin-bottom: 1%;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    text-align: center;
    padding-top: 1%;
}
label{
   align-items: baseline;
   margin-top: 1%;
   font-size: larger;
   font-weight: bold;
}
@media all and (min-width:340px) and (max-width:767px){
    #Links_headin_container>button{
        align-items: center;
        width: 20%;
        height: 25px;
        border: none;
        color: aliceblue;
        background-color: #f3912E;
        border: #f3912E;
        border-radius: 5px;
    }
    #Links_input_conatinaere{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
        text-align: center;
        align-items: center;
        gap: 0%;
    }
    #Links_input_conatinaere div{
        align-items: center;
        text-align: left;
        margin: auto;
        /* border:2px  solid red; */
        width: 80%;
        margin-top: 1%;
    }
    .Links_Inputs{
        width: 90%;
        height: 30px;
        margin: auto;
        margin-bottom: 0%;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        text-align: center;
        padding-top: 1%;
    }
    label{
        align-items: baseline;
        margin-top: 0%;
        font-size: larger;
        font-weight: bold;
     }
}